@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Students and teachers</h1>
        <div><a class="nav-link text-dark"  asp-controller="Students" asp-action="CreateStudent">Create Student</a></div>
        <div><a class="nav-link text-dark"  asp-controller="Teachers" asp-action="CreateTeacher">Create Teacher</a></div>
    </div>
